<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Portal</title>
    <!----------------------------------- css link start---------------------------------------- -->
    <link rel="stylesheet" href="/css/style.css" />
    <!----------------------------------- css link End---------------------------------------- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
</head>
<body>
     <!----------------- navbar start--------------- ---->
     <div class="container-fluid">
    <div class="row sticky-top" style="background-color: #00000082!important ;">
        <div class="col-sm-12">
            <div class="container-xxl">
                <div class="row ">
                    <nav class="navbar navbar-expand-lg navbar-dark fixed=top">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGLfamcgFDSqpVzEZhIBB7unDOszz66Gw1AiqD04T40Us0Z13qOnRjqXygzeC5IXfdUhg&usqp=CAU" class="profile-logo"
                                    alt=""></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="/home">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/about">ABOUT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/contact">CONTACT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/logout">LOGOUT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="#"><%= name %></a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="#">
                                            <img src="<%= i.url %>" class="profile-image" alt="pic">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>